<section>
  <h1>Who am I?</h1>
  <p>I am Parsia Hakimian, ex-dev and current (mostly) software security consultant at <a href="http://www.cigital.com/" target="_blank">Cigital</a> .</p>
  <p>I am interested in Reverse Engineering, Crypto, Assembly, C, Python, EvE Online and other things (not necessarily in that order).</p>
  <p>bitbucket: <a href="https://bitbucket.org/parsiya/" target="_blank">https://bitbucket.org/parsiya/</a></p>
  <p>email: parsiya [at] google's email [dot]com</p>
</section>
